/* PALETA DE COLORES */

/*

VERDE claro_ #B3C43E
VERDE oscuro_ #009F6D
BORDO_ #AC0D38
VIOLETA_ #8F2796
GRIS_ #4C4C4C
NEGRO_ #2b2b2b
BLANCO_ #D5D5D5

*/


/* FUENTES */

/*
font-family: 'i_pixel_uregular';
font-family: 'telegramaraw';
*/



/* MENU */

.barrita {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.menu li {
    float: right;
    background-color: black;
    padding: 2px;
    margin: 0 1px;
}

#logo {
    float: left;
    background-color: red;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 0;
}

/* COVER */

    /* video hero */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

    /* video cover personalizado*/

.homepage-hero-module{
    background-color: aqua;
}

#titulo{
    width: 100%;
    position: absolute;
    z-index: 1;
    color: #fff;
    margin-top: 350px;
}

#titulo h1{
    font-family: 'telegramaraw';
    text-transform: uppercase;
    font-size: 80px;
}

#titulo h1 span{
    font-size: 130px;
}

#titulo p{
    /*el estilo de la bajada del cover va acá!*/
}


/* INTRO */

#intro{
    padding: 70px 0;
}

#intro h2{
    font-family: 'telegramaraw';
    text-transform: uppercase;
    font-size: 40px;
    color: #AC0D38;
}

#intro .bajada{
    font-size: 20px;
    padding: 10px 0 15px 0;
}

#intro p{
    font-size: 16px;
}

#intro b{
    color: #8F2796;
    font-weight: 500;
}


/* COUNTER */

#counter{
    background-image: url('../cositas/img/zombieyuri.jpg');
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}

#counter .counter-value{
    font-size: 90px;
    color: #fff;
    font-family: 'telegramaraw';
}

#counter p{
    color: #fff;
    font-size: 16px;
}


/* NOTICIAS */

#news{
    background-color: #2b2b2b;
    padding: 70px 0;
    color: #D5D5D5;
}

#news h2{
    text-transform: uppercase;
    font-size: 16px;
    color: #AC0D38;
}

#news img{
    width: 100%;
}
















