/* PALETA DE COLORES */

/*

VEIGE_ #b5b69c
GRIS_ #7d7e73
BORDO CLARO_ #876969
BORDO MEDIO_ #6d4141
BORDO OSCURO_ #422020
GRIS OSCURO_ #323232
VIOLETA_ #645188

*/

/* COVER */

    /* video hero */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

    /* video cover personalizado*/

.homepage-hero-module{
    background-color: aqua;
}

#titulo{
    width: 100%;
    position: absolute;
    z-index: 1;
    color: #fff;
    margin-top: 450px;
}

#titulo h1{
    /*el estilo del título va acá!*/
}

#titulo p{
    /*el estilo de la bajada  va acá!*/
}