/* PALETA DE COLORES */

/*

VERDE claro_ #B3C43E
VERDE oscuro_ #009F6D
BORDO_ #AC0D38
VIOLETA_ #8F2796
GRIS_ #4C4C4C
NEGRO_ #2b2b2b
BLANCO_ #D5D5D5


DE LAS IMAGENES

AMARILLO_ #EBCF47
NARANJA_ #F37B3E
ROSITA_ #D77282
PALIDO_ #FD9E8C
AZUL_ #256CA4
VERDE_ #719861


SEMI BLANCO_ #E6E1D7
*/


/* FUENTES */

/*
font-family: 'i_pixel_uregular';
font-family: 'telegramaraw';

font-family: 'gt_walsheimregular';
font-family: 'gt_walsheimbold';

font-family: 'bebas_neueregular';

font-family: 'Sigmar One', cursive;
font-family: 'Alfa Slab One', cursive;
*/



/* COSITAS GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gt_walsheimregular';
}

body{
    background-color: #2b2b2b;
}

p{
    font-size: 16px;
}

::selection {
  background: #D77282; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #D77282; /* Gecko Browsers */
}

/* [COSITAS GENERALES] BOTONES */

.portaBoton{
    margin-top: 20px;
    margin-bottom: 20px;
}

.botonBase{
    font-family: 'Alfa Slab One', cursive;
    display: inline-block;
    padding: 20px 30px;
    border: 1px solid rgba(241,245,247,0.4);
    background-color: transparent;
    color: #E6E1D7;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.botonBase:focus,
.botonBase:hover{
    transform: scale(1.1);
    border-color: #E6E1D7;
    color: #E6E1D7;
    text-decoration: none;

}


/* MENU */

.navbar {
    position: relative;
    margin-bottom: 0;
    border: none;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.menu {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.menu-item {
    display: inline;
}

.menu-item:hover{
 cursor: pointer;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.menu li a {
    padding: 0 30px;
    margin: 0 6px;
    color: black;
    font-family: 'Alfa Slab One', cursive;
    background-color: #fae857;
    font-size: 22px;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.menu li a:focus,
.menu li a:hover,
.menu .active span {
    font-size: 27px;
    text-decoration: none;
    cursor: pointer;
}

#logo {
    height: 60px;
    width: 60px;
    font-size: 0;
    position: absolute;
    margin-top: 30px;
}

#logo img{
    width: 100%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#logo:focus img,
#logo:hover img{
    width: 110%; 
}

.navbar-default .navbar-toggle {
    border-color: #fff;
    margin-top: 40px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

@media (max-width: 767px){

    .menu {
        margin-top: 10px;
    }

}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
    border: 0px;
}


/* FOOTER */

footer{
    background-color: #fae857;
}



/* SIDEBAR */

.sidebar{
        background-color: #4b72c3;
        color: #2b2b2b;
        padding: 10px 20px;
}

.sidebar aside{
    height: 150px;
    width: 31%;
    margin: 25px 1%;
    padding: 15px;
    display: inline-block;
    background-color: #fae857;
    box-shadow: 12px 12px;
}


.sidebar input[type="text"] {
    width: 100%;
    height: 35px;
    margin-top: 5px;
    padding-left: 10px;
    background-color: transparent;
    -webkit-appearance: none;
    border: 0;
    border-bottom: 1px #2b2b2b solid;
    border-left: 1px #2b2b2b solid;
}

.sidebar input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid #2b2b2b;
    background-color: transparent;
    color: #2b2b2b;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


.sidebar input[type="submit"]:focus,
.sidebar input[type="submit"]:hover{
    transform: scale(1.1);
    border-color: #2b2b2b;
    color: #2b2b2b;
    text-decoration: none;

}

/* [INDEX] COVER */

    /* foto cover */

#cover{
    height: 100vh;
    width: 100%;
    background-image: url('../cositas/img/bgheader2.jpg');
    background-size: cover;
}


#titulo{
    width: 100%;
    position: absolute;
    z-index: 1;
    color: #E6E1D7;
    margin-top: 25vh;
}

#titulo h1{
    font-family: 'Sigmar One', cursive;
    text-transform: uppercase;
    font-size: 100px;
}

#titulo h1 span{
    font-size: 240px;
    line-height: 205px;
    font-family: 'Sigmar One', cursive;
}

#titulo p{
    font-family: 'gt_walsheimregular';
    font-size: 18px;
}


@media (max-width: 767px){


    #titulo{
        margin-top: 25vh;
    }

    #titulo h1{
        font-size: 40px;
    }

    #titulo h1 span{
        font-size: 100px;
        line-height: 100px;
    }

    #titulo p{
        font-size: 18px;
    }

}


/* [INDEX] INTRO */

#intro{
    padding: 70px 0 0 0;
    background-color: #2b2b2b;
    background-image: url(../cositas/img/estrellitas.png);
    background-size: cover;
}

#intro h2{
    font-family: 'Sigmar One', cursive;
    text-transform: uppercase;
    font-size: 44px;
    color: #F37B3E;
}

#intro .bajada{
    font-family: 'Alfa Slab One', cursive;
    padding: 10px 0 15px 0;
    text-transform: uppercase;
    font-size: 24px;
}

#intro p{
    font-size: 20px;
    color: #e6e1d7;
}

#intro b{
    color: #256CA4;
    font-weight: 500;
}


/* [INDEX] REASONS */

#reasons{
    margin-top: 20px;
}

#reasons h3{
    border-bottom: 1px solid #F37B3E;
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    color: #F37B3E;
}

#reasons p{
    color: #E6E1D7;
    font-size: 35px;
}

#reasons .contenedorReasons{
    min-height: 300px;
}

#reasons #zombiastronauta{
    background-image: url(../cositas/img/zombi-austronauta.png);
    background-size: cover;
    background-position: center;
    height: 400px;
}


/* [INDEX] COUNTER */

#counter{
    /*background-image: url('../cositas/img/zombieyuri.jpg');*/
    background-image: url(../cositas/img/pattern-brain.jpg);
    background-size: cover;
    background-position: center;
    padding: 80px 0;
}

#counter .counter-value{
    font-size: 100px;
    line-height: 80px;
    color: #2b2b2b;
    font-family: 'Sigmar One', cursive;
}

#counter p{
    color: #2b2b2b;
    font-size: 18px;
    font-family: 'Alfa Slab One', cursive;
}


@media (max-width: 767px){

    #counter .counter-value {
        font-size: 150px;
        line-height: 110px;
        margin-top: 25px;
    }
}


/* [INDEX] NOTICIAS */

#news{
    background-color: #2b2b2b;
    padding: 70px 0;
    color: #D5D5D5;
}

#news .col-sm-6{
    margin-bottom: 20px;
}

#news .portaImagenNoticia{
    height: 500px;
    padding-top: 85%;
    background-image: url('../cositas/img/rocket.jpg');

    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
    filter: url(resources.svg#desaturate); /* Gecko */
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */

    background-size: cover;
    background-position: top;
    -webkit-transition-duration: 0.4s;
}

#news .portaImagenNoticia:hover,
#news .portaImagenNoticia:active{
    padding-top: 85%;
    background-image: url('../cositas/img/rocket.jpg');
    background-position: top;

    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
}

#news .portaImagenNoticia .tituloNoticia{
    color: #F37B3E;
    text-transform: uppercase;
    font-family: 'Sigmar One', cursive;
}

#news .portaImagenNoticia .tituloNoticia h2{
    display: inline-block;
    padding: 5px 5px 5px 20px;
    font-size: 25px;
}

.hover-barrido-der {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hover-barrido-der:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F37B3E;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hover-barrido-der:hover, 
.hover-barrido-der:focus, 
.hover-barrido-der:active {
  color: #E6E1D7;
}
.hover-barrido-der:hover:before, 
.hover-barrido-der:focus:before, 
.hover-barrido-der:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


#news .portaImagenNoticia .categoriaNoticia{
    margin-left: 20px;
    padding: 5px;
    background-color: #F37B3E;
    color: #E6E1D7;
    display: inline;
}

#news .portaImagenNoticia .categoriaNoticia ul,
#news .portaImagenNoticia .categoriaNoticia ul li,
#news .portaImagenNoticia .categoriaNoticia ul li a{
    display: inline;
    color: #fff;
}


#news .portaImagenNoticia p{
    padding-left: 15px;
    text-align: left;
}

#news .portaTexto{
    padding: 20px;
    background-color: #E6E1D7;
    color: #2b2b2b;
    font-size: 14px;
}


@media (max-width: 767px){

    #news .portaImagenNoticia,
    #news .portaImagenNoticia{
        padding-top: 20%;
        background-image: url('../cositas/img/rocket.jpg');
        background-position: top;

        filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
    }

    #news .portaImagenNoticia:hover,
    #news .portaImagenNoticia:active{
        padding-top: 20%;
    }


    .hover-barrido-der, 
    .hover-barrido-der, 
    .hover-barrido-der {
        color: #E6E1D7;
        background: #F37B3E;
    }

}


/* [NEWS] DETALLE */

#newsDetalle{
    padding: 70px 0;
    background-color: #2b2b2b;
}

#newsDetalle h2{
    font-family: 'Sigmar One', cursive;
    text-transform: uppercase;
    font-size: 80px;
    color: #F37B3E;
}

#newsDetalle .bajada{
    padding: 10px 0 15px 0;
    text-transform: uppercase;
    font-size: 24px;
}

#newsDetalle p{
    font-size: 16px;
    color: #e6e1d7;
    margin-top: 25px;
}

#newsDetalle strong{
    color: #F37B3E;
    font-weight: 500;
}

#newsDetalle h3{
    color: #D77282;
    font-family: 'Sigmar One', cursive;
    text-transform: uppercase;
    font-size: 30px;
}
#newsDetalle a{
    color: #4b72c3;
}

#newsDetalle .comment-author{
    color: #fff;
}

#newsDetalle input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#newsDetalle input[type="submit"]:focus,
#newsDetalle input[type="submit"]:hover{
    transform: scale(1.1);
    border-color: #fff;
    color: #fff;
    text-decoration: none;

}

#newsDetalle textarea{
    height: 200px!important;
    padding-top: 10px;
    resize: none;
        width: 100%;
    height: 35px;
    margin-top: 5px;
    padding-left: 10px;
    background-color: transparent;
    -webkit-appearance: none;
    border: 0;
    border-bottom: 1px #E6E1D7 solid;
    border-left: 1px #E6E1D7 solid;

}

/* [SUBPAGINAS] COVER */


#SUBcover{
    height: 40vh;
    width: 100%;
    background-color: #D77282;
}

#SUBcover2{
    height: 40vh;
    width: 100%;
    background-color: #F37B3E;
}

#SUBtitulo{
    width: 100%;
    position: absolute;
    z-index: 1;
    color: #2b2b2b;
    margin-top: 12vh;
}

#SUBtitulo h1{
    font-family: 'Sigmar One', cursive;
    text-transform: uppercase;
    font-size: 100px;
}

#SUBtitulo .postTitulo{
    font-size: 60px;
}


#SUBtitulo p{
    font-family: 'gt_walsheimregular';
    font-size: 20px;
}


@media (max-width: 767px){

    #SUBtitulo h1{
        font-size: 50px;
    }

    #SUBtitulo p{
        font-size: 16px;
    }

}



/* [MARS] FOTO Y TEXTO */

#mars h2{
    color: #F37B3E;
    font-family: 'Sigmar One', cursive;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}

#mars p{
    color: #e6e1d7;
}

#mars .portaTexto{
    width: 80%;
    margin: auto;
    padding: 50px 0;
}


/* [NEWS DETALLE] */



/* [GO GO GO] */

#form{
    padding-top: 70px;
    min-height: 58vh;
    background-color: #2b2b2b;
    color: #D5D5D5;
}

#form input[type="text"],
#form input[type="email"],
#form textarea{
    width: 100%;
    height: 35px;
    margin-top: 5px;
    padding-left: 10px;
    background-color: transparent;
    -webkit-appearance: none;
    border: 0;
    border-bottom: 1px #E6E1D7 solid;
    border-left: 1px #E6E1D7 solid;
}

#form input[type="text"]:focus,
#form input[type="email"]:focus,
#form textarea:focus{ 
    outline: none !important;
    border:1px solid #D77282;
    box-shadow: 0 0 10px #D77282;
}

#form textarea{
    height: 300px;
    padding-top: 10px;
    resize: none;
}

#form input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-family: 'Alfa Slab One', cursive;
}


#form input[type="submit"]:focus,
#form input[type="submit"]:hover{
    transform: scale(1.1);
    border-color: #fff;
    color: #fff;
    text-decoration: none;

}

#form form{
    margin: 20px;
}

#form form label{
    margin-top: 20px;
    width: 100%;
}

#form .wpcf7-mail-sent-ok{
    font-family: 'Alfa Slab One', cursive;
    color: #719861;
    font-size: 18px;
}

#form .wpcf7-validation-errors{
    font-family: 'Alfa Slab One', cursive;
    color: #F37B3E;
    font-size: 18px;
}

div.wpcf7-mail-sent-ok,
div.wpcf7-validation-errors {
    border: 0!important;
}


/*404*/

#404{
        background-color: #2b2b2b;
    background-image: url(../cositas/img/estrellitas.png);
    background-size: cover;
}